<h1 style="color:red">Hello {{name}}</h1>
<div>
  <h1> {{title}} </h1>
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor = "let heroi of heroes"
        [class.selected]="heroi === selectedHero" (click)="onSelect(heroi)">
      <span class="badge">{{heroi.id}}</span> {{heroi.name}}
    </li>
  </ul>
  <div *ngIf="selectedHero">
    <h2>{{selectedHero.name}} details!</h2>
    <div><label>id: </label>{{selectedHero.id}}</div>
    <div>
      <label>name: </label>
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </div>
  </div>
  <h2> {{myHero.name}} Details!</h2>
  <div>
    <label>Id : </label>
    {{myHero.id}}
  </div>
  <div>
    <label>Name : </label>
    <input [(ngModel)]="myHero.name" placeholder="Name"/>
  </div>
  <child-body></child-body>
</div>
